* {
  margin: 0;
  box-sizing: border-box;
}

header{
  background-color: beige;
  color:black;
  font-weight: bold;
  font-family:fantasy;
  height: 50px;
  display: flex;
  justify-content: center;
  padding: 10px 0px;
}

.array {
  height: 100vh;
  width: 100vw;
  background-color: rgb(39, 40, 60);
  padding: 40px;
  border-style:dashed;
  display:flex;
  justify-content: center;
  
}

li {
   list-style-type: none;
}

.person {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-style: double;
  text-align: center;
  margin: 10px 10px;
  
}

h1 {
  color:rgb(105, 106, 160)
}

.main {
  height: 100vh;
  width: 100vw;
}